<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form class="editForm" action="/users/editUser/<%= result._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <input type="text" name="name" value="<%= result.name %>">
            <input type="text" name="fullname" value="<%= result.fullname %>">
            <input type="text" name="bio" value="<%= result.bio %>">
            <input type="file" name="imgUser">
            <button type="submit">Actualizar</button>
        </form>
    </div>
</body>
</html>